html {

  width: 100%;
}

header {
  display: flex;
  background-color: #2a2a2a;
}

body {
  background-color: rgb(18, 18, 18);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%; 
    position:relative; 
    padding-bottom:500px;
}


.logo {
  padding-left: 1%;

}

main {
  flex: 1 0 auto;
  
}

.container {
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.container1 {
  width: 90%;
  font-family: sans-serif;
  margin-left: 5%;
  line-height: 1.5em;
}

footer {
  background-color: #202020;
  margin: 0 auto;
  color: #e7e7e7;
  position: absolute; 
  left: 0 ; right: 0; bottom: 0; 
  height: 500px; 




}

.footer1 {
  color: #e7e7e7;
  font-family: sans-serif;
  margin-left: 5%;
  line-height: 1.5em;
}

.footer2 {
  padding-top: 2%;
  color: #e7e7e7;
  font-family: sans-serif;
  margin-left: 5%;
  width: 50%;
  line-height: 1.5em;
}

.streepje {
  border-color: #333;
  border-style: solid none none;
  padding-left: 4%;
}

h3 {
  color: #9b9696;
  opacity: .4;
}

.resources {
  font-size: 14.4px;
  font-family: sans-serif;
  color: #CCCCCC;
  padding: 4%;
}



.informatie {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 1.4;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;

}

.game {
  padding-left: 20px;
  height: 400px;
  margin: 4px;
  padding-bottom: 40px;

}


.game .basegame {

  color: rgba(245, 245, 245, 0.6);
  font-size: 9px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
  font-family: sans-serif;
  margin-bottom: 5px;
}

.gamenaam {
  color: rgb(245, 245, 245);
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
}

.prijs {

  font-size: 14px;
  color: rgb(245, 245, 245);
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.2px;
}

#produten {
  height: 250px;
  width: 185px;

}

.game img {
  height: 265px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

header li a:hover {
  text-decoration: underline;
}